annotated-types
anyio
bcrypt
blinker
certifi
charset-normalizer
click
distro
Flask
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-WTF
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
MarkupSafe
openai
pip
pydantic
pydantic_core
PyJWT
python-dotenv
requests
sniffio
SQLAlchemy
tqdm
typing_extensions
typing-inspection
urllib3
Werkzeug
WTForms
