.container {
    padding: 20px;
    max-width: 420px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding-right: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.container h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.textarea {
    width: 400px;
    font-size: 1rem;
    padding: 20px 20px;
    border-radius: 18px;
    margin-bottom: 30px;
    height: 25px;
    border: none;
    background: rgba( 255, 255, 255, 0.2 );
}
.container button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc40;
}
.responseBox {
    margin-top: 20px;
    padding: 10px;
    background-color: #0d4b14;
    border-radius: 18px;
    min-height: 40px;
    margin-bottom: 40px;
  }