.billboard-container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 30px;
    border-radius: 16px;
    backdrop-filter: blur(3px);
}

.billboard-container .second {
    border-left: 1px solid rgba(255, 255, 255, 0.189);
    margin-left: 40px;
    padding-left: 40px;
}
.billboard {
    display: flex;
    align-items: center;
    gap: 30px;
}

.billboard img {
    max-width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
}

.billboard h1 {
    color: white;
    font-size: 32px;
    margin: 0;
}