.player-container {
  display: flex;
  align-items: center;
  background-color: rgba(20, 44, 10, 0.8);
  backdrop-filter: blur(8px);
  color: white;
  padding: 1rem;
  border-radius: 1rem;

}

.song-info {
  display: flex;
  align-items: center;
}

.song-details {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  margin-top: 20px;
}
.song-details h3 {
  margin: 0;
  margin-top: 10px;
}

.song-details p {
  margin: 0;
}

.song-details button {
  background: none;
  font-size: 24px;
}

.song-info img {
  width: 140px;
  height: 150px;
  border-radius: 0.5rem;
}

.controls {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.controls button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.controls button.active {
  color: #1db954; /* Spotify green for loop active */
}
